#button {
 	background-color: #A26769;
 	padding: 10px;
 	border-radius: 4px; 
 	text-align: center;
 	text-decoration: none;
 	color: white;
 }
 #button:hover {
 	background-color:white;
 	color: #A26769;
 	border: 1px solid #A26769; 
 }